body {
  margin: 0;
  max-height: 100vh;
}

.appWindow {
  position: absolute;
  background-color: aquamarine;
  width: 80vw;
  height: 80vh;
  border: 1px solid black;
  transition: z-index 0.3s ease;
}

.moveBar {
  cursor: move;
  width: 90%;
}

.closeButton {
  float: right;
  cursor: pointer;
  min-width: 10%;
}
